<div class="modal-regra" *ngIf="modalAberto" (click)="fecharModalRegra()">
  <div class="modal-conteudo-regra" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Associação de Regra</h2>
      <button class="fechar" (click)="fecharModalRegra()">×</button>
    </div>
    <div class="modal-body">
      <!-- Campos para regra -->
      <div class="linha">
        <div>
          <label>Data:</label>
          <input type="text" [value]="getDataLancamentoSelecionado()" readonly />
        </div>
        <div>
          <label>Agência Bancária:</label>
          <select>
            <option>Todos os bancos</option>
            <option selected>4480/2861</option>
          </select>
        </div>
      </div>

      <div class="linha">
        <div class="descricao-inline" style="flex: 1;">
          <label for="descricao">Descrição:</label>
          <select id="descricao">
            <option disabled selected>Selecione uma descrição</option>
            <option>Histórico</option>
            <option>Beneficiário</option>
            <option>Informação adicional</option>
          </select>
        </div>
      </div>

      <div class="linha">
        <div style="flex: 1;">
          <label>Expressão:</label>
          <input type="text" />
        </div>
      </div>
      <div class="linha">
        <div style="flex: 1;">
          <label>Conta Contábil:</label>
          <input type="text" placeholder="Digite o número da conta" />
        </div>
      </div>
      <div class="linha">
        <div style="flex: 1;">
          <label>Histórico Contábil:</label>
          <input type="text" />
        </div>
      </div>
      <div class="linha">
        <div style="flex: 1;">
          <label for="manterHistorico" style="margin-left: 8px;"><input type="checkbox" id="manterHistorico" /> Manter histórico do extrato</label>
        </div>
      </div>
    </div>
    <div class="rodape-modal">
      <button class="btn btn-primary" (click)="fecharModalRegra()">Cancelar</button>
      <button class="btn btn-primary">Gravar</button>
    </div>
  </div>
</div>
